footer {
  position: fixed; /* Fixes the footer to the viewport */
  bottom: 0; /* Ensures it stays at the bottom */
  left: 0; /* Aligns it to the left edge */
  width: 100%; /* Makes the footer span the full width of the page */
  padding: 22px;
  background: #2b0254;
  display: flex;
  align-items: center;
  flex-direction: row;
}


footer h3 {
    font-size: 1.0rem;
    color: aliceblue;
    padding-left: 40%;
}


