footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 20px;
  background: rgb(35, 113, 159);
}

footer h5 {
    color: aliceblue;
    text-align: center;
    background: rgb(35, 113, 159);
}


