footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 20px;
  background: rgb(35, 113, 159);
}

h3 {
    font-size: 1.0rem; 
    background: rgb(35, 113, 159);
    color: aliceblue;
    padding-left: 40%; 
}

footer p {
  font-size: 0.8rem; 
  margin-top: 10px;
  color: aliceblue;
}