header {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0 auto 1rem auto;
    background:#efeef0;
}
  
header img {
    padding-left: 2rem;
    width: 5rem;
    height: 5rem;
    object-fit: contain;
    background-color: transparent;
}
  
header h1 {
    padding-left: 30%;
    font-family: Arial, sans-serif; 
    font-size: 2rem; 
    color: #333; 
    margin: 30px; 
    padding: 0;
}