<main>
    <app-workspace name="To Do" />

    <app-workspace name="Doing" />

    <app-workspace name="Done" /> 

    <mat-grid-list cols="2" rowHeight="2:1">
        <mat-grid-tile>1 - teste</mat-grid-tile>
        <mat-grid-tile>2 - teste</mat-grid-tile>
        <mat-grid-tile>3 - teste</mat-grid-tile>
        <mat-grid-tile>4 - teste</mat-grid-tile>
        <mat-grid-tile>5 - teste</mat-grid-tile>
        <mat-grid-tile>6 - teste</mat-grid-tile>
        <mat-grid-tile>7 - teste</mat-grid-tile>
    </mat-grid-list>

</main>

