main {
  width: 100%;
  height: 300px;
  margin: 0 auto 1rem auto;
  display: flex;
  flex-direction: row;
  gap: 10px;
  justify-content: space-between;
}

main app-workspace:first-child {
  margin-left: 10px;
}

main app-workspace:last-child {
  margin-right: 30%;
}

main app-workspace {
  flex: 1;
}
